.str-chat__message-livestream {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.str-chat__message-livestream-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
.str-chat__message-livestream-author {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 120%;
  /* identical to box height, or 12px */
  color: rgba(44, 44, 48, 0.65);
}

.str-chat__message-livestream-content {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #2c2c30;
}
.str-chat.dark .str-chat__message-livestream-content {
  color: red;
}

.str-chat__avatar {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
}

.str-chat__date-separator {
  display: none;
}
.live-event-message__container__pinned {
  background: rgba(255, 199, 0, 0.15);
}
.pinned-messages__container .pin-icon .pin-text {
  display: none;
}

/* User Online Icon  */

.str-chat__message-livestream-left {
  position: relative;
}

.online-indicator {
  position: relative;
  top: 20px;
  right: -38px;
  z-index: 9;
  height: 0px;
}

.str-chat__thread-list
  .str-chat__message-livestream--initial-message
  .online-indicator {
  top: 40px;
}
#root
  > div
  > div
  > div:nth-child(2)
  > div
  > div
  > div
  > div.str-chat__thread-list
  > div.live-event-message__container__unpinned
  > div:nth-child(3)
  > div.online-indicator {
  top: 40px;
}
