.live-event-channel-header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 320px;
  height: 65px;
  box-shadow: 0px 1px 0px #bed5e4, 0px 10px 12px rgba(0, 0, 0, 0.04);
}

.live-event-channel-header__button {
  border-color: blueviolet;
  height: 36px;
  width: 272px;
}
