.live-event-footer__container {
  display: flex;
  flex-direction: column;
  height: 129px;
  width: 320px;
  justify-content: space-between;
  border-top: 1px solid #bed5e4;
}
.live-event-footer__top {
  display: flex;
  flex-direction: row;
  flex: 2;
  justify-content: space-around;
  padding-top: 15px;
  align-items: center;
}
.live-event-footer__bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1;
}

.live-event-footer__input {
  height: 52px;
  width: 238px;
}
.live-event-footer__bottom-left {
  display: flex;
  align-items: center;
}
.live-event-footer__bottom-badge {
  margin-right: 9px;
}
